<nb-card status="info" accent="primary">
  <nb-card-header>Create new Product</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="create()" [formGroup]="createProductForm" aria-labelledby="title">
      <div class="left" style="float: left;">
        <div class="form-control-group">
          <label class="label" for="txtName">Name*:</label>
          <input [formControl]="createProductForm.get('name')" nbInput fullWidth name="name" id="txtName" placeholder="Product Name" [status]="createProductForm.get('name').dirty ? (createProductForm.get('name').invalid  ? 'danger' : 'success') : ''"
              [attr.aria-invalid]="createProductForm.get('name').invalid && createProductForm.get('name').touched ? true : null">
          <ng-container *ngIf="createProductForm.get('name').invalid && createProductForm.get('name').touched">
            <p class="caption status-danger" *ngIf="createProductForm.get('name').invalid && (createProductForm.get('name').dirty || createProductForm.get('name').touched)">
              {{ error_messages.name.message }}
            </p>
          </ng-container>
        </div>
  
        <div class="form-control-group">
          <label class="label" for="txtPrice">Price*:</label>
          <input [formControl]="createProductForm.get('price')" nbInput fullWidth name="price" type="number" id="txtPrice" placeholder="Product Price" [status]="createProductForm.get('price').dirty ? (createProductForm.get('price').invalid  ? 'danger' : 'success') : ''">
          <ng-container *ngIf="createProductForm.get('price').invalid && createProductForm.get('price').touched">
            <ng-container *ngFor="let error of error_messages.price">
              <span class="caption status-danger" *ngIf="createProductForm.get('price').invalid && (createProductForm.get('price').dirty || createProductForm.get('price').touched)">
                {{ error.message }}
              </span><br>
            </ng-container>
          </ng-container>
        </div>
  
        <div class="form-control-group" id="input-cate">
          <label class="label" for="cbCategory">Category*:</label><br>
          <nb-select placeholder="Category" [formControl]="createProductForm.get('des')" name="des" id="cbCategory">
            <nb-option *ngFor="let cate of categories" [value]="cate.Id">{{ cate.Name }}</nb-option>
          </nb-select>
        </div>
  
        <div class="form-control-group" id="input-gender">
          <label class="label" for="cbGender">Gender*:</label><br>
          <nb-select placeholder="Gender" [formControl]="createProductForm.get('gender')" name="gender" id="cbGender">
            <nb-option *ngFor="let gender of genders" [value]="gender.Id">{{ gender.Name }}</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="right" style="float: right;">
        <div class="form-control-group" id="input-des">
          <label class="label" for="txtDes">Description:</label>
          <textarea [formControl]="createProductForm.get('des')" nbInput fullWidth name="des" id="txtDes" placeholder="Product Description" fieldSize="large"></textarea>
        </div>
        <br>
        <button nbButton hero status="primary" [disabled]="!createProductForm.valid" [class.btn-pulse]="!createProductForm.valid" id="btnAdd">
          Add
        </button>
        <button nbButton hero status="basic" (click)="close()" id="btnCancel">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>