.left { 
    width: 20em;
    #txtName {
        padding-left: 0.3em; 
        padding-right: 0.3em;
    }
    #input-current { width: 8em; float: left;}
    #input-old { width: 8em; float: right;}
    #chk-saled { margin-top: 5em;}
    #cbColor { width: 12em;}
}

.right {
    margin-left: 2.5em;
    #txtImgPath, textarea {
        padding-left: 0.3em; 
        padding-right: 0.3em;}
    textarea { height: 8em; }
    button { width: 8em; }
    #btnAdd { float: left; }
    #btnCancel { float: right; }
}