<input nbInput placeholder="Enter name" #inputSearch/>
<button nbButton (click)="search(inputSearch.value)">Search</button>

<ngx-datatable class='table table-hover material' [columnMode]="'force'" [reorderable]="true" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [rows]="collectionVs" [scrollbarH]="true" [selectionType]="'single'" [limit]="10"
  [messages]="{emptyMessage: 'Không có dữ liệu để hiển thị',totalMessage: 'tổng cộng',selectedMessage: 'đã chọn'}">
  <ngx-datatable-column [name]="'Code'" [width]="40" [prop]="'Id'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'Name'" [width]="100" [prop]="'Name'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'Banner'" [width]="100" [prop]="'Banner'">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <img src="http://dongtv.hisoft.vn/api/File/Image?imageUrl={{value}}" width="200" height="100" />
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column [name]="'Tình trạng'" [width]="100" [prop]="'IsDelete'">
  <ng-template let-value="value" ngx-datatable-cell-template>
      <span [class.text-danger]="value" [class.text-success]="!value">
        {{value ? 'Tạm dừng' : 'Đang hoạt động'}}
    </span>
  </ng-template>
</ngx-datatable-column> -->
</ngx-datatable>