input { 
    margin: 0 0.6em 0.6em 0;
}
#btnSearch { margin-right: 0.6em;}
#btnCreate { 
    float: right; 
    margin-left: 0.5em; 
    border: #0095ff 1px solid;
    background-color: rgb(183, 237, 255);
}

#btnCreate:hover { 
    background-color: #D7FADD;
}