<input nbInput placeholder="Enter name" #inputSearch status="info" />
<button nbButton (click)="search(inputSearch.value)" id="btnSearch">Search</button>
<nb-select placeholder="Category" status="info" (selectedChange)="onCateChange($event)"> <!-- [(selected)]="selectedItem"-->
  <nb-option value="0">All</nb-option>
  <nb-option *ngFor="let cate of categories" [value]="cate.Id">{{ cate.Name }}</nb-option>
</nb-select>
<button nbButton id="btnAdd" (click)="openCreateDialog()" status="basic">
  <nb-icon icon="plus" status="primary"></nb-icon>
</button>
<button nbButton id="btnUpdate" (click)="openUpdateDialog()" status="basic">
  <nb-icon icon="edit" status="primary"></nb-icon>
</button>

<ngx-datatable class='table table-hover material' [columnMode]="'force'" [reorderable]="true" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [rows]="productVs" [scrollbarH]="true" [selectionType]="'single'" [limit]="10"
  [messages]="{emptyMessage: 'No data to show',totalMessage: 'total products',selectedMessage: 'selected'}"
  (select)="onSelect($event)">
  <ngx-datatable-column [name]="'Code'" [width]="40" [prop]="'Id'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'Name'" [width]="100" [prop]="'Name'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'CurrentPrice'" [width]="100" [prop]="'CurrentPrice'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'OldPrice'" [width]="100" [prop]="'OldPrice'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'IsSale'" [width]="100" [prop]="'IsSale'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'BannerPath'" [width]="100" [prop]="'BannerPath'">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <img src="http://dongtv.hisoft.vn/api/File/Image?imageUrl={{value}}" width="100" height="100" />
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column [name]="'Tình trạng'" [width]="100" [prop]="'IsDelete'">
  <ng-template let-value="value" ngx-datatable-cell-template>
      <span [class.text-danger]="value" [class.text-success]="!value">
        {{value ? 'Tạm dừng' : 'Đang hoạt động'}}
    </span>
  </ng-template>
</ngx-datatable-column> -->
</ngx-datatable>