<input nbInput placeholder="Enter Code" #inputSearch/>
<button nbButton (click)="search(inputSearch.value)">Search</button>

<ngx-datatable class='table table-hover material' [columnMode]="'force'" [reorderable]="true" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [rows]="orderVs" [scrollbarH]="true" [selectionType]="'single'" [limit]="10"
  [messages]="{emptyMessage: 'Không có dữ liệu để hiển thị',totalMessage: 'tổng cộng',selectedMessage: 'đã chọn'}">
  <ngx-datatable-column [name]="'Code'" [width]="40" [prop]="'Id'">
  </ngx-datatable-column>
  <ngx-datatable-column [name]="'DateCreated'" [width]="100" [prop]="'DateCreated'">
  <ng-template let-value="value" ngx-datatable-cell-template>

    <span [class.text-success]="true">
        {{value |  date}}
    </span>
  </ng-template>

  </ngx-datatable-column>
  <ngx-datatable-column [name]="'TotalAmount'" [width]="100" [prop]="'TotalAmount'">
</ngx-datatable-column>
<ngx-datatable-column [name]="'Address'" [width]="100" [prop]="'Address'">
</ngx-datatable-column>
  <ngx-datatable-column [name]="'CurrentStatus'" [width]="100" [prop]="'CurrentStatus'">
  <ng-template let-value="value" ngx-datatable-cell-template>
      <span [class.text-danger]="value ==3" 
      [class.text-success]="value == 2" 
      [class.text-info]="value ==0" 
      [class.text-default]="value == 1">
        {{value  == 0? 'Received' : value == 1 ? 'Doing' : value ==2 ? 'Done' :  'Cancel'}}
    </span>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [name]="'Status'" [width]="100" [prop]="'Id'">
  <ng-template let-value="value" ngx-datatable-cell-template>
        <button nbButton (click)="updateStatus(value)">Update Status</button>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>