@import '../../../../share/styles/themes';

.frame {
    display: flex;

    .img { margin: auto auto; }

    .login-form {
        width: 38%;
        margin: auto auto;

        h1 { padding-bottom: 0.7em;}
    }

    .extra-login { 
        width: 15.2em;
        text-transform: none;
    }
    #btnGoogle {
        float: left;
        background-color: #DC4E41;
        border: none;
    }
    #btnFacebook {
        float: right;
        background-color: #3B5998;
        border: none;
    }
}

.shadow-title {
    text-shadow: 0 1px 0 #ccc, 
        0 2px 0 #c9c9c9, 
        0 3px 0 #bbb, 
        0 4px 0 #b9b9b9, 
        0 5px 0 #aaa, 
        0 6px 1px rgba(0, 0, 0, .1), 
        0 0 5px rgba(0, 0, 0, .1), 
        0 1px 3px rgba(0, 0, 0, .3), 
        0 3px 5px rgba(0, 0, 0, .2), 
        0 5px 10px rgba(0, 0, 0, .25), 
        0 10px 10px rgba(0, 0, 0, .2), 
        0 20px 20px rgba(0, 0, 0, .15);
}

.caption {
    font-weight: bold;
}