<nb-layout windowMode>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div class="frame h-85">
                    <div class="img">
                        <img src="assets/cover-login-page-1.png" style="width: 38rem;">
                    </div>
                    <div class="login-form">
                        <h1 id="title" class="title text-center m-0 shadow-title">Login</h1>

                        <form (ngSubmit)="login()" [formGroup]="loginForm" aria-labelledby="title">

                            <div class="form-control-group">
                                <label class="label" for="input-username">Username:</label>
                                <input [formControl]="loginForm.get('username')" nbInput fullWidth name="username" id="input-username" placeholder="username, ex: nguyenvana" fieldSize="large" autofocus [status]="loginForm.get('username').dirty ? (loginForm.get('username').invalid  ? 'danger' : 'success') : ''"
                                    [attr.aria-invalid]="loginForm.get('username').invalid && loginForm.get('username').touched ? true : null">
                                <ng-container *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                                    <p class="caption status-danger" *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)">
                                      Username is required !!
                                    </p>
                                </ng-container>
                            </div>

                            <div class="form-control-group">
                                <label class="label" for="input-password">Password:</label>
                                <input [formControl]="loginForm.get('password')" nbInput fullWidth name="password" type="password" id="input-password" placeholder="password, ex: 123456" fieldSize="large" [status]="loginForm.get('password').dirty ? (loginForm.get('password').invalid  ? 'danger' : 'success') : ''">
                                <ng-container *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched ">
                                    <p class="caption status-danger" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                      Password is required !!
                                    </p>
                                </ng-container>
                            </div>
                            <br>
                            <button nbButton fullWidth status="primary" size="large" [disabled]="!loginForm.valid" [class.btn-pulse]="!loginForm.valid">
                                <span><nb-icon [icon]="'log-in'" pack="eva"></nb-icon> Go to home page</span>
                            </button>
                        </form>
                        <br>
                        <p style="text-align: center;"><b>OR</b></p>
                        <button nbButton fullWidth size="medium" id="btnGoogle" class="extra-login">
                            <nb-icon [icon]="'google'" pack="eva"></nb-icon> Login with Google
                        </button>
                        <button nbButton fullWidth size="medium" id="btnFacebook" class="extra-login">
                            <nb-icon [icon]="'facebook'" pack="eva"></nb-icon> Login with Facebook
                        </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>