<ngx-datatable class='table table-hover material' [columnMode]="'force'" [reorderable]="true" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="services" [scrollbarH]="true" [selectionType]="'single'" [limit]="10" [messages]="{emptyMessage: 'Không có dữ liệu để hiển thị',totalMessage: 'tổng cộng',selectedMessage: 'đã chọn'}">
    <ngx-datatable-column [name]="'Tên'" [width]="100" [prop]="'Name'">
    </ngx-datatable-column>
    <!-- <ngx-datatable-column [name]="'Tình trạng'" [width]="100" [prop]="'IsDelete'">
    <ng-template let-value="value" ngx-datatable-cell-template>
        <span [class.text-danger]="value" [class.text-success]="!value">
          {{value ? 'Tạm dừng' : 'Đang hoạt động'}}
      </span>
    </ng-template>
</ngx-datatable-column> -->
</ngx-datatable>
