<nb-card status="info" accent="primary">
  <nb-card-header>Add products into Collection "{{ collectionName }}"</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="addProducts()" [formGroup]="addProductForm" aria-labelledby="title">
      <button nbButton hero status="primary" [disabled]="!addProductForm.valid" [class.btn-pulse]="!addProductForm.valid" id="btnAdd">
        Add
      </button>
      <button nbButton status="basic" (click)="close()" id="btnCancel">Cancel</button>
      
      <div class="form-control-group">
          <label class="label" for="txtColID">Collection ID:</label>
          <input formControlName="id" nbInput fullWidth id="txtColID" readonly>
      </div>

      <div class="form-control-group" id="product-imgs">
          <label class="label" for="txtProIDs">Product IDs:</label>
          <input formControlName="productIds" nbInput fullWidth id="txtProIDs" readonly [ngModel]="productIds">
          <div class="container" style="margin-top: 0.5em;">
            <label class="option_item" *ngFor="let product of products">
              <input type="checkbox" class="checkbox" (change)="selectProduct($event, product.Id)">
                    <!-- [checked]="selectedPro" (change)="selectedPro = !selectedPro"-->
              <!-- <nb-checkbox (checkedChange)="toggle($event)" class="checkbox"></nb-checkbox> -->
              <div class="option_inner">
                <div class="tickmark"></div>
                <img src="https://csharp-be.azurewebsites.net/api/File/Image?imageUrl={{product.BannerPath}}" width="100" height="100" class="img"/>
                <div class="proName"><b><i>{{product.Name}}</i></b></div>
              </div>
            </label>
          </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>